# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built-in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.gzip

# PyCharm files #
#############
.idea/*
/.idea/*

# tmp files #
#############
tmp_data/*
tmp/*

# Compiled source #
###################
*.com
*.pyc
*.dll
*.exe
*.o
*.class
*.so

# Resources, e.g. notes and sample sample_data. #
#############
local_resources/*
logs/*
venv/*